#assets

*\Researches and PDFs
*\ExpressProjects\porto_3.7
*\ExpressProjects\ExpressDevelopment\public\img
*\ExpressProjects\ExpressDevelopment\public\vendor
*\ExpressProjects\ExpressDevelopment\node_modules