<div class="row" style="flex: auto;">
  <div class="col-md-12">

    <div class="row featured-boxes login">
      <div class="col-sm-6"  style="float: none; margin: 0 auto;">
        <div class="featured-box featured-box-secundary default info-content">
          <div class="box-content">
            <h4>Register An Account</h4>
            <form action="" id="" method="post">
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                    <label>User name</label>
                    <input
                      name="userName"
                      type="text"
                      value=""
                      class="form-control input-lg"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Password</label>
                    <input
                      name="password"
                      type="password"
                      value=""
                      class="form-control input-lg"
                    />
                  </div>
                  <div class="col-md-6">
                    <label>Avatar</label>
                    <input
                      name="avatar"
                      type="text"
                      value=""
                      class="form-control input-lg"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input
                    type="submit"
                    value="Register"
                    class="btn btn-primary pull-right push-bottom"
                    data-loading-text="Loading..."
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>