<div class="card shadow">
    <div class="card-header d-flex justify-content-center">
        <h1>Edit Article</h1>
    </div>
    <div class="card-body">
        <%= render "form", article: @article %>*
    </div>
</div>


