<section class="page-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          {{#each breadcrumb}}

          <li><a href="{{this.link}}">{{this.sectionName}}</a></li>

          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>2 Columns</h1>
      </div>
    </div>
  </div>
</section>